<html>
<head>
    <title>Home Website</title>
</head>

<body>

<h1> This is analyzer page. Enter your text below to analyze</h1>

<form action = '/analyze' method="get">

<textarea name = 'text' style="margin:6px; width: 1148px; height: 192px;"></textarea>
<div style = "justify-content:center; text-align : center">

    <input type="checkbox" name="removepunc" id=""> Remove Punc..
    <input type = 'checkbox' name = "capitalize"> Uppercase....
    <input type = 'checkbox' name = "charcount"> CountChar....
    <input type="checkbox" name="extraspaceremove" id=""> RemoveExtraSpace....
    <input type = "checkbox" name = "newlineremove"> RemoveNewLines
    <br>
<button type = 'submit' stype = "">Submit!</button>

</div>

</form>
</body>

</html>